[submodule "utils2"]
	path = utils2
	url = https://github.com/grzegorzmatczak/utils2.git
[submodule "image_algorithms"]
	path = image_algorithms
	url = https://github.com/grzegorzmatczak/image_algorithms.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
